.Input-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
}
