.Characters {
  display: grid;
  padding: 20px;
  gap: 3rem;
  grid-auto-rows: 25rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
  height: 100%;
}

.Character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 300px;
  min-height: 300px;
  color: white;
  text-decoration: none;
  padding: 20px;
}

.Character-status {
  margin-top: 20px;
  text-align: center;
  border-radius: 50%;
  width: 5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Alive {
  background-color: green;
}

.Dead {
  background-color: red;
}

.unknown {
  background-color: gray;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 250px;
  min-height: 250px;
  object-fit: contain;
  margin-bottom: 20px;
}
