.Characters {
  display: grid;
  padding: 20px;
  gap: 3rem;
  grid-auto-rows: 25rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
  height: 100%;
}

.Character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 15px;
  width: 300px;
  min-height: 300px;
  color: #f8f9fa;
  text-decoration: none;
  position: relative;
}

.Character-status {
  margin: 20px 0;
  padding: 5px 15px;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  top: 0px;
  right: 5px;
  position: absolute;
}

.Alive {
  background-color: #198754;
}

.Dead {
  background-color: #dc3545;
}

.unknown {
  background-color: gray;
}

img {
  border-radius: 13px 13px 0 0;
  min-height: 300px;
  object-fit: contain;
  margin-bottom: 20px;
}
